body {
    --main-background-color: #f4f4f4;
    --marginal-background-color: #37a9d3;
    --main-text-color: #292A32;
    
    transition: background-color .5s ease-in !important;
}

body.dark {
    --main-background-color: #292A32;
    --marginal-background-color: #200d55;
    --main-text-color: #f4f4f4;
}

